body { 
    background-color: #B3926F;

/* RESET BASE */
    margin: 0
    padding: 0
    box-sizing: border-box;
}

/* SFONDO GENERALE */
h2 {
    color: #brown;
    text-align: center;
}
h4 {
    color:#563500
}
h5 {
    color: black
}
.list {
    font-family: 'Lucida Console'
}
